<nav id="menu" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" >
        <a class="nav-link c" [routerLink]="['/categoria']" [routerLinkActive]="['active']">Categoria</a>
       
      </li>
      <li class="nav-item g">
        <a class="nav-link" [routerLink]="['/graficas']"  [routerLinkActive]="['active']">Gráficas</a>
      
      </li>
    </ul>
    
    <a  >Para ver la gráfica de click en el botón graficar. Si lo desea puede añadir o eliminar categorías.</a>
  </div>
</nav>
